.page {
  margin: 0 auto;
  min-width: 280px;
  min-height: 100vh;
  padding-top: 40px;
  animation: show 3s;
}

@keyframes show {
  from {opacity: 0;} to {opacity: 1;}
}

@media screen and (max-width: 570px) {
  .page {
    padding-top: 20px;
  }
}
