.people__subtitle {
  margin: 0 0 120px 0;
  max-width: 460px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (min-width: 1300px) {
  .people__subtitle {
    font-size: 42px;
  }
}

@media screen and (max-width: 570px) {
  .people__subtitle {
    margin-bottom: 60px;
    font-size: 28px;
  }
}
