.content__people {
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
  opacity: 0;
}

@media screen and (max-width: 770px) {
  .content__people {
    padding: 0 40px;
  }

}


/* @media screen and (min-width: 1281px) {
  .content__people  {
    padding: 0 150px;
  }
} */